
# cd aliases.
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'


# ls aliases.

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

alias ls="command ls ${colorflag} --group-directories-first"
alias l='ls -lAh'
alias ll='ls -lh'
alias l1='ls -1'
alias llx='ll -X'
alias lcrt='ll -crt'

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# grep aliases.
alias grep='grep -n --color'
alias egrep='egrep --color'

# Application aliases.
alias R='R --vanilla'
alias vmdtext='vmd -dispdev text'
alias vmd='vmd -size 1000 1000 -nt'


# zsh specific aliases.
if [[ -n "$ZSH_VERSION" ]]; then
    alias loadmodule='source /ibpc/osx/lbt/Modules/3.2.9/init/zsh'
    alias loadmodulelocal='source /Volumes/apollo/software/Modules/3.2.10/init/zsh'
    alias zshconfig='$EDITOR ~/.zshrc'

# Any other terminal than zsh aliases.
else
    alias loadmodule='source /ibpc/osx/lbt/Modules/3.2.9/init/bash'
    alias loadmodulelocal='source /Volumes/apollo/software/Modules/3.2.10/init/bash'
    alias bashconfig='$EDITOR ~/.bashrc'
fi;

# OS X specific aliases.
if [[ 'Darwin' =~ `uname -s` ]]; then
    alias du1='du -hd1'
    alias umount='diskutil eject'
    alias rstud='open -a RStudio'
    alias skim='open -a Skim's
# Linux specific aliases.
else
    alias du1='du -h --max-depth=1'
fi

# git aliases.
alias g='git'
alias gci='git commit'
alias gciam='git commit -am'
alias gst='git status -s'
alias gamm='git commit --amend'
alias gforgot='git commit -a --amend -C HEAD'
alias gadd='git add'
alias gls='git ls'  # ls defined in $HOME/.gitconfig
alias god='git opendiff'
