
# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# LS_COLORS
eval "$(dircolors -b ~/.dircolors)"

# Prefer US English and use UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Store date and time in history
export HISTTIMEFORMAT="%d/%m/%y %T "

