[user]
    name = Benoist LAURENT
    email = benoist.laurent@gmail.com

[push]
    default = simple

[core]
    pager = LESS=FRSXQ less

[color]
    branch = auto
    diff = auto
    status = auto

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status -s
    ci = commit
    cia = commit -a
    ciam = commit -am
    co = checkout
    cob = checkout -b
    undo = reset --hard HEAD
    branches = branch --list --all
    opendiff = difftool --tool=opendiff -Y
    incoming = "!git remote update -p; git log ..@{u}"
    outgoing = "!CB=$(git rev-parse --abbrev-ref HEAD) && git fetch origin && git log origin/$CB..$CB"
   
    # Shows colored log with tag/branch, short description and author.
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s" --decorate
    
    # Same as ls - Shows last 10 commits.
    loghead =  log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s" --decorate -10

    # Same as ls - Shows last commit.
    head = log --pretty=format:"%C(yellow)%h\\ %Creset%s" --decorate HEAD^..HEAD

    # Same as ls - Show date.
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s" --decorate --date=short

    # Shows colored log with tag/branch, short description and author and mofied file list.
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

[merge]
    tool = opendiff

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "git://github.com/"

[url "git@bitbucket.org:"]
    insteadOf = "bb:"
    pushInsteadOf = "https://bitbucket.org/"
    pushInsteadOf = "http://bitbucket.org/"
    pushInsteadOf = "git://bitbucket.org/"
